img {
  max-width: 500px;
  height: 700px;
  border-radius: 10px;
}

.btn-eliminar {
  margin-top: 1rem;
}

@media (max-width: 900px) {
  .img-rigth {
    display: none;
  }
  .img-block {
    display: block;
    padding-top: 1rem;
    text-align: center;
  }
  img {
    max-width: 300px;
    height: 400px;
    border-radius: 10px;
  }
}

@media (min-width: 900px) {
  .img-block {
    display: none;
  }
}

.img-rigth {
  padding-left: 1rem;
}
