<h1>listado de Heroes</h1>
<mat-divider></mat-divider>
<br />
<div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center">
  <mat-card
    fxFlex.gt-lg="18"
    class="card-heroe"
    *ngFor="let heroe of listaDeHeroes"
  >
    <mat-card-header>
      <img
        mat-card-avatar
        class="avatar-header-image"
        src="assets/heroes/{{ heroe.id }}.jpg"
        alt=""
      />
      <mat-card-title>{{ heroe.superhero }}</mat-card-title>
      <mat-card-subtitle>{{ heroe.alter_ego }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="assets/heroes/{{ heroe.id }}.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <h3>{{ heroe.publisher }}</h3>
      <p>
        <strong>Primera aparición: </strong>{{ heroe.first_appearance }} <br />
        <strong>Personajes: </strong>{{ heroe.characters }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary">Ver más</button>
      <button mat-stroked-button color="accent">Editar</button>
    </mat-card-actions>
  </mat-card>
</div>
