<mat-card class="card-heroe">
  <mat-card-header>
    <img
      mat-card-avatar
      class="avatar-header-image"
      [src]="heroe | imagen"
      alt="Photo of hero"
    />
    <mat-card-title>{{ heroe.superHero }}</mat-card-title>
    <mat-card-subtitle>{{ heroe.alter_ego }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="heroe | imagen" alt="Photo of hero" />
  <mat-card-content>
    <h3>{{ heroe.publisher }}</h3>
    <p>
      <strong>Primera aparición: </strong>{{ heroe.first_appearance }} <br />
      <strong>Personajes: </strong>{{ heroe.characters }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-stroked-button
      color="primary"
      [routerLink]="['/heroes', heroe.id]"
    >
      Ver más
    </button>
    <button
      mat-stroked-button
      color="accent"
      [routerLink]="['/heroes/editar', heroe.id]"
    >
      Editar
    </button>
  </mat-card-actions>
</mat-card>
