<mat-sidenav-container fullScreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar
      color="primary"
      style="display: flex; justify-content: space-between"
    >
      Menú
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="./listado" (click)="sidenav.toggle()">
        <span>Listado de heroes</span>
        <mat-icon mat-list-icon>groups</mat-icon>
      </a>
      <a mat-list-item routerLink="./agregar" (click)="sidenav.toggle()">
        <span>Añadir heroes</span>
        <mat-icon mat-list-icon>add_circle_outline</mat-icon>
      </a>
      <a mat-list-item routerLink="./buscar" (click)="sidenav.toggle()">
        <span>Buscar heroes</span>
        <mat-icon mat-list-icon>search</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar style="display: flex; justify-content: space-between">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button color="warn">
      Logout
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="contenido">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
