<div class="contendor-titulo">
  <h1>Buscador de heroes</h1>
  <mat-divider></mat-divider>
</div>
<div class="contendor-buscador">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Heroe</mat-label>
    <input
      type="text"
      matInput
      [(ngModel)]="termino"
      (input)="buscando()"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="opcSelecionada($event)"
    >
      <mat-option *ngFor="let heroe of heroes" [value]="heroe">
        {{ heroe.superhero }}
      </mat-option>
      <mat-option *ngIf="mostrarError" style="color: #f44336">
        No se encontraron resultados para <b>{{ termino }}</b>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div class="contendor-resultado" *ngIf="heroeSelecionado">
  <app-heroe-tarjeta [heroe]="heroeSelecionado"></app-heroe-tarjeta>
</div>
