.contendeor__spiner {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contendorPerfil {
  height: 100%;
  background-color: #3f51b5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contendorPerfil_imagen {
  padding: 20px;
  width: auto;
  height: 40%;
}

.contendorPerfil_imagen img {
  max-width: 350px;
  border-radius: 10px;
}

.contendorPerfil_info {
  background-color: white;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 40%;
  height: 50%;
  border-radius: 10px;
}

@media (max-width: 630px) {
  .contendorPerfil {
    display: block;
    text-align: center;
    padding-bottom: 25px;
  }
  .contendorPerfil_info {
    width: 80%;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .contendorPerfil_imagen img {
    max-width: 250px;
    border-radius: 10px;
  }
}

@media (min-width: 1100px) {
  .contendorPerfil {
    width: 70%;
    margin: auto;
  }
}
